version: '3.3'

services:
  weather-api:
    build: ./api/
    volumes:
      - ./api/:/usr/src/app/
    ports:
      - 5000:5000
    environment:
      PORT: 5000
      FLASK_DEBUG: 1
      DB_HOSTNAME: "postgresql-db"
      DB_USER: "postgres"
      DB_PASS: "example"
      DB_DB: "postgres"
    networks:
      - backend
    depends_on:
      postgresql-db:
        condition: service_healthy
  postgresql-db:
    image: postgres
    volumes:
      - db_data:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: example
      POSTGRES_DB: postgres
    networks:
      - frontend
      - backend
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080
    networks:
      - frontend
    depends_on:
      postgresql-db:
        condition: service_healthy

volumes:
    db_data:

networks:
  frontend:
  backend:
